@charset "utf-8";
/* 인트로 페이지 - main.css */

@import url(./common.css);

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Nanum+Gothic+Coding&family=Roboto+Mono:wght@300&family=Sunflower:wght@500&display=swap');
/* 
 /* 웹폰트설정(main) 
 font-family: 'Encode Sans SC', sans-serif; (타이틀 영문)
 font-family: 'Roboto Mono', monospace; (내용 영문)

 */
/*  웹폰트설정
 font-family: 'Encode Sans SC', sans-serif; (타이틀 영문)
 font-family: 'Roboto Mono', monospace;(내용 영문)
 font-family: 'Sunflower', sans-serif;(타이틀 한글)
 font-family: 'Nanum Gothic Coding', monospace;(내용 한글)
 */


/* SEC 1.///////////////////////////////////////////////// */

#pg1>h1 {
  position: absolute;
  font-size: 3.8vw;
  left: 15%;
  top: 28%;

  font-family: 'Encode Sans SC', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

#pg1>p {
  position: absolute;
  font-size: 1.8vw;
  left: 20%;
  top: 38%;

  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

/* SEC 2. ///////////////////////////////////////////////////*/

.probox {
  display: flex;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 82vw;
  height: 75vh;

  border: 2px solid #ddd;
  box-shadow: 2px 2px 2px #a5a5a5;
  /* outline: 2px dotted red; */
}

/* 왼쪽박스 */
.prolbx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  /* outline: 2px dotted red; */
}

/* mbti 박스 */
.mbti {
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  /* outline: 3px dotted blue; */
}

.mbti>h1 {
  font-size: 2.5vw;
  font-family: Sunflower, sans-serif;
  padding-left: 25px;
  padding-top: 15px;
}

.mbti>h2 {
  font-size: 2vw;
  padding-left: 25px;
  padding-top: 15px;
  font-family: 'Encode Sans SC', sans-serif;
}

/* 사진박스 */
.photo {
  display: flex;
  width: 100%;
  height: 40%;
  top: 20%;
  left: 0;
  /* outline: 3px dotted blue; */
}

.photoIn1 {
  padding-left: 10%;
  flex: 1;
}

.photo img {
  width: 60%;
  max-width: 200px;
  /* padding: 12px; */
}

.photoIn2 {
  margin: 10px;
  flex: 1;
}


.phosbx h3 {
  font-size: 1.7vw;
}

.phosbx li:nth-child(1) {
  padding-top: 10px;
}

.phosbx li {
  float: none;
  list-style-type: circle;
  font-size: 1vw;
  line-height: 2;
}


/* 스킬박스 */
.pg2ski {
  width: 100%;
  height: 40%;
  top: 60%;
  left: 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  /* outline: 3px dotted blue; */
}

/* 그래프박스 */
.gp {
  width: 100%;
  height: 20%;
  border: 1px solid #ddd;
  box-sizing: border-box;

  /* outline: 2px solid red; */
}

.gpin {
  position: relative;
  width: 60%;
  height: 8px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.gp>span {
  display: block;
  left: 50%;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.gpin .pregp {
  position: absolute;
  color: #a5a5a5;
  left: -28%;
  top: -24px;
  text-align-last: left;
}

.gpin .afgp {
  position: absolute;
  color: #a5a5a5;
  right: -28%;
  top: -24px;
  text-align: right;
}

.gpin1::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  right: 0;
  border-radius: 10px;
  background-color: rgb(66, 140, 149);
}

.pg2ski.on .gpin1::before {
  animation: maani 2s linear forwards;
}

@keyframes maani {
  to {
    width: 51%;
  }
}

.gpin .aftx1 {
  color: rgb(66, 140, 149);
  font-weight: bold;
}

.gpin2::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  left: 0;
  border-radius: 10px;
  background-color: rgb(226, 188, 81);

}

.pg2ski.on .gpin2::before {
  animation: eaani 2s linear forwards;
}

@keyframes eaani {
  to {
    width: 66%;
  }
}

.gpin .pretx2 {
  color: rgb(226, 188, 81);
  font-weight: bold;
}

.gpin3::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  left: 0;
  border-radius: 10px;
  background-color: rgb(88, 189, 130);

}

.pg2ski.on .gpin3::before {
  animation: bonani 2s linear forwards;
}

@keyframes bonani {
  to {
    width: 65%;
  }
}

.gpin .pretx3 {
  color: rgb(88, 189, 130);
  font-weight: bold;
}

.gpin4::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  right: 0;
  border-radius: 10px;
  background-color: rgb(219, 141, 215);

}

.pg2ski.on .gpin4::before {
  animation: junani 2s linear forwards;
}

@keyframes junani {
  to {
    width: 82%;
  }
}

.gpin .aftx4 {
  color: rgb(219, 141, 215);
  font-weight: bold;
}

.gpin5::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  right: 0;
  border-radius: 10px;
  background-color: rgb(133, 106, 150);
}

.pg2ski.on .gpin5::before {
  animation: jaani 2s linear forwards;
}

@keyframes jaani {
  to {
    width: 75%;
  }
}

.gpin .aftx5 {
  color: rgb(133, 106, 150);
  font-weight: bold;
}


/**************** 오른쪽박스 ****************/
.prorbx {
  width: 52%;
  height: 100%;
  top: 0;
  right: 0;

  /* outline: 2px dotted green; */
}

.gif h2 {
  font-size: 1rem;
  padding: 5px;
}

.gif {
  list-style-image: url('../images/check2.gif');
  margin-left: 10%;
}



/* 자기소개+자격증박스 */
.iamlicbx {
  display: flex;
  margin: 2% 7% 0 7%;
  padding-left: 10px;
  /* outline: 2px dotted red; */
  overflow: hidden;
  /* white-space: nowrap; */
}

.iambx {
  width: 50%;
  margin-left: 3%;
}

.iambx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

.licbx {
  width: 50%;
}

.licbx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

/* 일+교육박스 */
.socialbx {
  display: flex;
  margin: 2% 7% 0 7%;
  padding-left: 10px;
  /* outline: 2px dotted red; */

  overflow: hidden;
  /* white-space: nowrap; */
}

.workbx {
  width: 50%;
  margin-left: 3%;
}

.workbx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

.edubx {
  width: 50%;
}

.edubx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

/* 오른쪽 아래 나의 소개 박스 */

.strong {
  position: relative;
  margin: 2% 7% 0 7%;
  top: 0%;
  left: 0%;

  /* outline: 2px dotted red; */
}

.strong h2 {
  padding-left: 15px;
}

.strone {
  width: 85%;
  /* height: 50%; */
  top: 5px;
  left: 5px;

  display: flex;
  justify-content: space-between;
}

/* 원형박스 공통 */
.like {
  position: relative;
  width: 18%;
  margin: 3%;
  min-width: 50px;
  background-color: rgb(163, 108, 163);
  border-radius: 50%;
  float: none;
  flex-shrink: 0;
  text-align: center;

  /* outline: 2px dotted purple; */
}

/* like 박스 마우스오버시 */
.like:hover {
  transform: scale(1.1);
  border: 3px solid rebeccapurple;
  box-sizing: border-box;
}

.like::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.like img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.like h3 {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  text-align: center;
  font-size: 1vw;

}


.hobone {
  width: 85%;
  /* height: 50%; */
  top: 5px;
  left: 5px;

  display: flex;
  justify-content: space-evenly;
}

.hobby {
  position: relative;
  width: 18%;
  margin: 3%;
  min-width: 50px;
  background-color: rgb(163, 108, 163);
  border-radius: 50%;
  float: none;
  flex-shrink: 0;
  text-align: center;

  /* outline: 2px dotted purple; */
}

/* hobby에 마우스오버시 */
.hobby:hover {
  transform: scale(1.1);
  border: 3px solid rebeccapurple;
  box-sizing: border-box;
}

.hobby::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.hobby img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.hobby h3 {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  text-align: center;
  font-size: 1vw;
}





/* SEC 3.////////////////////////////////////////////// */


/* 스킬박스 배경 */
.sklbx {
  height: 100%;
}

.sklbx>ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* 파티션 li공통 */
.sklbx>ul>li {
  position: relative;
  /* 부모자격 */
  flex: 1;
  text-align: center;

  transition: all .4s ease-in-out;

}

/* li에 마우스 오버시 커짐 */
.sklbx>ul>li:hover {
  flex: 1.4;
}

/* li에 마우스 오버시 로고이미지 위치 아래로 */
.sklbx>ul>li:hover img {
  top: 90%;
  width: 30%;
}

/* li에 마우스 오버시 pbox의 a 값 보이기 */
.sklbx>ul>li:hover .pbox a {
  display: block;
}



/* 파티션 li에 반투명 검은색 커버 만들기 */
.sklbx>ul>li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
  transition: opacity .6s;
}

/* li에 마우스 오버시 반투명 커버 투명도 0 */
.sklbx>ul>li:hover::before {
  opacity: 0;
}

/* 각파티션 박스 배경 */
.sklbx>ul>li:nth-child(1) {
  background-color: rgb(207, 109, 207);
}

.sklbx>ul>li:nth-child(2) {
  background-color: rgb(255, 182, 72);
}

.sklbx>ul>li:nth-child(3) {
  background-color: rgb(255, 255, 144);
}

.sklbx>ul>li:nth-child(4) {
  background-color: rgb(101, 101, 255);
}

.sklbx>ul>li:nth-child(5) {
  background-color: rgb(255, 196, 157);
}

.sklbx>ul>li:nth-child(6) {
  background-color: rgb(190, 255, 93);
}

/* 파티션 박스 안 이미지 위치크기조정 */
.sklbx>ul>li>img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 부모는? 싸고있는 li */
  transform: translate(-50%, -50%);
  /* 정중앙이동 */
  width: 50%;
  max-width: 250px;
  /* 최대크기지정 */

  /* 트랜지션 */
  /* transition: .4s; */

}

/* 그래프 막대 숫자공통 */
.pbox a {
  font-size: 4vh;
  margin-left: 8%;
  font-family: 'Sunflower', sans-serif;
  text-shadow: 1px 2px #333;
  display: none;
}

.sklbx>ul>li>span {
  position: absolute;
  top: 77%;
  width: 82%;
  left: 10%;

  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  /* text-shadow: 1px 1px #333; */
  display: none;
}

/* 각 %값 그래프막대공통 */
.skill .pbox {
  position: absolute;
  bottom: 25%;
  left: 37%;
  width: 25%;
  height: 0;
  background-color: #ff4655;



}

.sklbx>ul>li:hover .skill>.pbox,
.sklbx>ul>li:hover span {
  display: block;
}

.sklbx>ul>li:hover .pbx1 {
  /* 높이값-30%(바닥에서 올린값) */
  height: 60%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.sklbx>ul>li:hover .pbx2 {
  height: 50%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.sklbx>ul>li:hover .pbx3 {
  height: 55%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.sklbx>ul>li:hover .pbx4 {
  height: 60%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.sklbx>ul>li:hover .pbx5 {
  height: 35%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.sklbx>ul>li:hover .pbx6 {
  height: 45%;
  transition: 1.5s;
  border: 2px solid darkred;
}



/* SEC 4.////////////////////////////////////////////// */
.mbox {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  padding-left: 150px;
}

.mpbx {
  position: relative;
  width: 50%;
  height: 50%;
}

/* 이미지 담는 박스 */
.btns {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  box-shadow: 12px 12px 18px rgb(0 0 0 / 9%);
}

/* 비율밀기 */
.btns::before {
  content: '';
  display: block;
  padding-top: 100%;
}

/* 링크바로가기 */
.btns a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  transition: .4s;
}

.btns:hover a {
  background-color: #000;
  opacity: 0.5;
}

/* 첫번째 박스 */
.btns1 {
  position: absolute;
  top: 60%;
  width: 75%;
  background: url(../images/SeoulLand_main.jpg) no-repeat top/cover;
  /* border: 1px solid #555; */
}




/* 두번째 박스 */
.btns2 {
  width: 75%;
  background-image: url(../images/voguemain.PNG);
  /* border: 1px solid #555; */
  top: 60%;
  position: absolute;
}

/* 세번째 박스 */
.btns3 {
  width: 75%;
  background-image: url(../images/discoverymain2.png);
  /* border: 1px solid #555; */
  top: 50%;
  position: absolute;
}

/* 네번째 박스 */
.btns4 {
  width: 75%;
  background-image: url(../images/myitemmain.PNG);
  /* border: 1px solid #555; */
  top: 50%;
  position: absolute;
  z-index: 99;
}

/* 팝업창 뒷배경 */
.popbg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
  z-index: 999;
}

/* 팝업창 */
.pop {
  position: absolute;
  background-color: rgb(255 255 255);
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-height: 30%;
  border: 2px solid #10142c;
  z-index: 9999;
  display: none;
}

.pop img {
  width: 40%;
  margin: 5%;
  border: 1px solid #10142c;
}

/* 웹사이트 바로가기 버튼 */
html .baro {
  position: absolute;
  bottom: 3%;
  width: 15vw;
  height: 40px;
  right: 20%;
  background-color: #10142c;
  border: 1px solid #e7b522;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1vw;
  font-family: 'Nanum Gothic Coding';
}

.baro>a {
  display: block;
  line-height: 30px;
  width: 100%;
  height: 30px;
  color: #e7b522;
  transition: .4s;
}

.baro:hover {
  background-color: #fff;
  border: 2px solid #10142c;
  box-sizing: border-box;
}

.baro:hover a {
  color: #000;
}

.pop ul {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 45%;
}

.pop li {
  float: none;
  line-height: 3;
  font-size: 1vw;
  font-weight: bold;
}

/* 설명글 위에 일자선 */
.pop li::before {
  content: '';
}

.pop .clse {
  position: absolute;
  width: 7vw;
  height: 40px;
  background-color: #fff;
  border: 2px solid #10142c;
  color: #10142c;
  font-family: 'Encode Sans SC';
  font-weight: bold;
  font-size: 1vw;
  border-radius: 10px;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
  transition: all .4s;
}

.pop .clse:hover {
  background-color: #10142c;
  color: #e7b522;
  border: 1px solid #e7b522;
  cursor: pointer;
}



/* 오른쪽박스 */
/* 응용 프로젝트 설명 */
.sbox {
  position: absolute;
  width: 36%;
  height: 30%;
  top: 17%;
  right: 6%;
  /* outline: 2px dotted green; */
}

.sbox1 {
  position: absolute;
  top: 20%;
  left: 15%;


  /* outline: 1px dotted red; */
}

/* 타이핌 글자 */
#typing {
  font-size: 3rem;
  font-weight: bold;
  font-family: ub;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* 깜박임 커서 가상요소 */
#typing::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -15px;
  width: 4px;
  height: 100%;

  animation: typingAni 1s linear infinite;
}

@keyframes typingAni {
  0% {
    border-left: 8px solid rgba(85, 85, 85, 0);
  }

  50% {
    border-left: 8px solid #000;
  }

  100% {
    border-left: 8px solid rgba(85, 85, 85, 0);
  }
}

/* 타이핑 키프레임 */

.sbox1 h2 {
  font-family: 'Sunflower', sans-serif;
  font-size: 2.5vw;
  letter-spacing: 1vw;
  text-align: center;
  line-height: 2;
}

.sbox1 span {
  font-family: 'Nanum Gothic Coding', monospace;
  color: #797979;
  line-height: 2;
  text-align: center;
}

/* 오른쪽 아래 동영상 */
.video {
  position: absolute;
  top: 51%;
  right: 6%;
  width: 50%;
  height: 46%;
  background-color: rgb(179 162 232 / 31%);
  /* background-color: #ccc; */
}

#myvid2 {
  position: absolute;
  width: 59%;
  top: 24%;
  left: 37%;

}





/* SEC 5.////////////////////////////////////////////// */

.contact_fm {
  flex: 1;
}
.contact {
  display: flex;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 82vw;
  height: 75vh;
  border: 2px solid #ddd;
  box-shadow: 2px 2px 2px #a5a5a5;

  outline: 2px dotted red;
}
/* 폼메일박스 */
.contact_fm {
  flex: 1;
}

/* 폼메일박스 */
.msgbox {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(16, 20, 44);
  overflow: hidden;
}

/* 폼메일 텍스트 */
.msgbox label {
  color: #000;
  font-size: 1vw;
}

/* 입력창 */
input {
  background-color: transparent;
  width: 400px;
  height: 30px;
  border: 1px solid #10142c;
}

/* 내용창 */
#msg{
  width: 400px;
  background-color: transparent;
  border: 1px solid #10142c;
}

/* 보내기 버튼 */
#btnsend {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #e7b522;
  font-size: 1vw;
  font-weight: bold;
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #e7b522;
  background-color: #10142c;
}

#btnsend:hover{
  background-color: #fff;
  border: 2px solid #10142c;
  color: #000;
}

/* 오른쪽박스 */
.contnum{
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* 인사박스 */
.conttit{
  flex: 1;
}

/* 연락처박스 */
.phone{
  flex: 1;
}
.rcont {
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;

  outline: 2px dotted blue;
}

.imcont li {
  float: none;
}




/* 하단 공통 적용 */
/* 스크롤 박스 */
.scroll {
  position: fixed;
  width: 5%;
  top: 20%;
  left: 4%;
}

/* 스크롤 마우스 */
.scrollin {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 16px;
  height: 35px;
  border: 3px solid #f5f5f5;
  box-shadow: 1px 1px 2px rgb(51 51 51);
  border-radius: 7px;
}

.scrollin::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255 196 157);
  animation: k_scroll 1.2s linear alternate infinite;
}

@keyframes k_scroll {
  to {
    top: 70%;
    opacity: .5;
  }
}

.scroll span {
  position: absolute;
  top: 40px;
  left: 50%;
  color: #f5f5f5;
  font-family: 'Encode Sans SC';
  font-size: 1.1rem;
  transform: translateX(-50%);
  text-shadow: 1px 1px 2px rgb(51 51 51);
}



/***************************** 미디어쿼리 *******************************/
@media only screen and (max-width:750px) {

  /**************** sec1 ****************/

  /* 메인글씨 */
  #pg1>h1 {
    top: 31%;
    font-size: 6vw;
    left: 8%;
  }

  /* 서브글씨 */
  #pg1>p {
    top: 38%;
    right: 24%;
    font-size: 3vw;
  }

  /**************** sec2 ****************/

  /* 전체박스 */
  .probox {
    position: absolute;
    width: 90vw;
    height: 80vh;
    transform: none;
    top: 15%;
    left: 5%;
  }

  /* 왼쪽박스 */
  /* mbti */
  .mbti {
    height: 10%;
  }

  /* mbti 글씨 */
  .mbti>h1,
  .mbti>h2 {
    font-size: 4vw;
    padding-left: 25px;
    padding-top: 10px;
  }

  /* 증명사진 박스 */
  .photo {
    flex-direction: column;
    height: auto;
  }

  .photo img {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .photoIn1 {
    padding: 15%
  }

  .photoIn2 {
    display: none;
  }

  /* mbti 그래프 전체박스 */
  .pg2ski {
    border: none;
  }


  /* mbti 그래프 박스 */
  .gp {
    height: 20%;
    border: none;
  }

  .gp>span {
    padding-top: 15px;
  }

  /* 그래프 왼쪽 설명글 */
  .gpin .pregp {
    top: 2%;
    font-size: 2vw;
  }

  /* 그래프 오른쪽 설명글 */
  .gpin .afgp {
    top: 2%;
    font-size: 2vw;
  }


  /* 오른쪽박스 타이틀 */
  .gif h2 {
    font-size: 3.8vw;
  }

  /* 오른쪽박스(iam + license) */
  .iamlicbx {
    flex-direction: column;
    margin: 10px;
  }

  /* iam 박스 */
  .iambx {
    width: 100%;
  }

  .iambx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }

  /* 라이센스박스 */
  .licbx {
    width: 100%;
    margin-left: 3%;
  }

  .licbx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }

  /* 오른쪽박스(work + education) */
  .socialbx {
    flex-direction: column;
    margin: 10px;
  }

  /* 워크박스 */
  .workbx {
    width: 100%;
  }

  .workbx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }

  /* 에듀박스 */
  .edubx {
    width: 100%;
    margin-left: 3%;
  }

  .edubx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }


  /* 캐릭터부분 */
  .strong {
    display: none;
  }

  #pg2>img {
    display: none;
  }

  /**************** sec3 ****************/
  .sklbx>ul>li>span {
    font-size: 2.5vw;
  }


  /**************** sec4 ****************/

  /* typing */
  .sbox {
    height: 30%;
    top: 7%;
    right: 50%;
  }

  .sbox1 span {
    font-size: 2vw;
    white-space: nowrap;
  }

  /* 포폴박스 */
  .mbox {
    padding-left: 80px;
  }

  /* 포폴담는 박스 */
  .btns {
    min-width: 120px;
    /* border: 1px solid #555; */
    z-index: 999;
  }

  /* 첫번째 포폴 */
  .btns1 {
    top: 75%;
  }

  /* 두번째 포폴 */
  .btns2 {
    left: 100px;
    top: 75%;
  }

  /* 네번째 포폴 */
  .btns4 {
    top: 30%;
    left: 100px;
  }

  /* 배경 비디오 */
  .video {
    top: 70%;
    right: 5%;
    width: 90%;
    height: 25%;
  }

  #myvid2 {
    display: none;
  }

  /* 팝업 */
  .pop {
    width: 90%;
  }



  /**************** sec5 ****************/


  /* 메일창 */
  .msgbox {
    padding: 10px;
  }

  /* 메일창 메인 */
  .tit2 {
    font-size: 3.5vw;
    font-weight: normal;
  }

  /* 입력창 */
  input {
    width: 90%;
    height: 25px;
    margin: 5px 0;
  }

  /* 내용입력창 */
  #msg {
    width: 90%;
    margin-top: 5px;
  }

  /* 각 창 설명텍스트 */
  .msgbox label {
    color: #000;
    font-size: 3.5vw;
    font-weight: normal;
  }

  html .mainp {
    margin-top: 10px;
    font-size: 3.5vw;
  }

  /* 보내기창 */
  #btnsend {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 3.5vw;
    font-weight: bold;
    height: 30px;
  }



  /**************** 공통 CSS ****************/

  /* gnb박스 */
  .top {
    height: 90px;
  }

  /* 로고위치 */
  #logo {
    width: 20%;
    padding-top: 3px;
    margin: 0 auto;
    min-width: 100px;
    left: 35%;
  }


  /* 로고이미지 */
  #logo img {
    width: 100%;
  }

  /* 메뉴 재정비 */
  .gnb {
    position: absolute;
    top: 65%;
    left: 2%;
  }

  .gnb li {
    font-size: 3.3vw;
  }


  /* 스크롤 */
  .scroll {
    top: 22%;
    left: 5%;
  }

  .scrollin {
    width: 10px;
    height: 30px;
  }

  /* 스크롤글씨 */
  .scroll span {
    font-size: 0.5rem;
  }


  /* 인디케이터 */
  .indic {
    width: 15px;
  }

}

/* 미디어쿼리 500px */