@charset "utf-8";
/* 인트로 페이지 - main.css */

@import url(./common.css);

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Nanum+Gothic+Coding&family=Roboto+Mono:wght@300&family=Sunflower:wght@500&display=swap');
/* 
 /* 웹폰트설정(main) 
 font-family: 'Encode Sans SC', sans-serif; (타이틀 영문)
 font-family: 'Roboto Mono', monospace; (내용 영문)

 */
/*  웹폰트설정
 font-family: 'Encode Sans SC', sans-serif; (타이틀 영문)
 font-family: 'Roboto Mono', monospace;(내용 영문)
 font-family: 'Sunflower', sans-serif;(타이틀 한글)
 font-family: 'Nanum Gothic Coding', monospace;(내용 한글)
 */


/* SEC 1.///////////////////////////////////////////////// */

#pg1>h1 {
  position: absolute;
  font-size: 3.8vw;
  left: 15%;
  top: 28%;

  font-family: 'Encode Sans SC', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

#pg1>p {
  position: absolute;
  font-size: 1.8vw;
  left: 20%;
  top: 38%;

  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

/* SEC 2. ///////////////////////////////////////////////////*/

.probox {
  display: flex;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 82vw;
  height: 75vh;

  border: 2px solid #ddd;
  box-shadow: 2px 2px 2px #a5a5a5;
  /* outline: 2px dotted red; */
}

/* 왼쪽박스 */
.prolbx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  /* outline: 2px dotted red; */
}

/* mbti 박스 */
.mbti {
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  /* outline: 3px dotted blue; */
}

.mbti>h1 {
  font-size: 2.5vw;
  font-family: Sunflower, sans-serif;
  padding-left: 25px;
  padding-top: 15px;
}

.mbti>h2 {
  font-size: 2vw;
  padding-left: 25px;
  padding-top: 15px;
  font-family: 'Encode Sans SC', sans-serif;
}

/* 사진박스 */
.photo {
  display: flex;
  width: 100%;
  height: 40%;
  top: 20%;
  left: 0;
  /* outline: 3px dotted blue; */
}

.photoIn1 {
  padding-left: 10%;
  flex: 1;
}

.photo img {
  width: 60%;
  max-width: 200px;
  /* padding: 12px; */
}

.photoIn2 {
  margin: 10px;
  flex: 1;
}


.phosbx h3 {
  font-size: 1.7vw;
}

.phosbx li:nth-child(1) {
  padding-top: 10px;
}

.phosbx li {
  float: none;
  list-style-type: circle;
  font-size: 1vw;
  line-height: 2;
}


/* 스킬박스 */
.pg2ski {
  width: 100%;
  height: 40%;
  top: 60%;
  left: 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  /* outline: 3px dotted blue; */
}

/* 그래프박스 */
.gp {
  width: 100%;
  height: 20%;
  border: 1px solid #ddd;
  box-sizing: border-box;

  /* outline: 2px solid red; */
}

.gpin {
  position: relative;
  width: 60%;
  height: 8px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.gp>span {
  display: block;
  left: 50%;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.gpin .pregp {
  position: absolute;
  color: #a5a5a5;
  left: -28%;
  top: -24px;
  text-align-last: left;
}

.gpin .afgp {
  position: absolute;
  color: #a5a5a5;
  right: -28%;
  top: -24px;
  text-align: right;
}

.gpin1::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  right: 0;
  border-radius: 10px;
  background-color: rgb(66, 140, 149);
}

.pg2ski.on .gpin1::before {
  animation: maani 2s linear forwards;
}

@keyframes maani {
  to {
    width: 51%;
  }
}

.gpin .aftx1 {
  color: rgb(66, 140, 149);
  font-weight: bold;
}

.gpin2::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  left: 0;
  border-radius: 10px;
  background-color: rgb(226, 188, 81);

}

.pg2ski.on .gpin2::before {
  animation: eaani 2s linear forwards;
}

@keyframes eaani {
  to {
    width: 66%;
  }
}

.gpin .pretx2 {
  color: rgb(226, 188, 81);
  font-weight: bold;
}

.gpin3::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  left: 0;
  border-radius: 10px;
  background-color: rgb(88, 189, 130);

}

.pg2ski.on .gpin3::before {
  animation: bonani 2s linear forwards;
}

@keyframes bonani {
  to {
    width: 65%;
  }
}

.gpin .pretx3 {
  color: rgb(88, 189, 130);
  font-weight: bold;
}

.gpin4::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  right: 0;
  border-radius: 10px;
  background-color: rgb(219, 141, 215);

}

.pg2ski.on .gpin4::before {
  animation: junani 2s linear forwards;
}

@keyframes junani {
  to {
    width: 82%;
  }
}

.gpin .aftx4 {
  color: rgb(219, 141, 215);
  font-weight: bold;
}

.gpin5::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 8PX;
  right: 0;
  border-radius: 10px;
  background-color: rgb(133, 106, 150);
}

.pg2ski.on .gpin5::before {
  animation: jaani 2s linear forwards;
}

@keyframes jaani {
  to {
    width: 75%;
  }
}

.gpin .aftx5 {
  color: rgb(133, 106, 150);
  font-weight: bold;
}


/**************** 오른쪽박스 ****************/
.prorbx {
  width: 52%;
  height: 100%;
  top: 0;
  right: 0;

  /* outline: 2px dotted green; */
}

.gif h2 {
  font-size: 1rem;
  padding: 5px;
}

.gif {
  list-style-image: url('../images/check2.gif');
  margin-left: 10%;
}



/* 자기소개+자격증박스 */
.iamlicbx {
  display: flex;
  margin: 2% 7% 0 7%;
  padding-left: 10px;
  /* outline: 2px dotted red; */
  overflow: hidden;
  /* white-space: nowrap; */
}

.iambx {
  width: 50%;
  margin-left: 3%;
}

.iambx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

.licbx {
  width: 50%;
}

.licbx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

/* 일+교육박스 */
.socialbx {
  display: flex;
  margin: 2% 7% 0 7%;
  padding-left: 10px;
  /* outline: 2px dotted red; */

  overflow: hidden;
  /* white-space: nowrap; */
}

.workbx {
  width: 50%;
  margin-left: 3%;
}

.workbx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

.edubx {
  width: 50%;
}

.edubx li {
  float: none;
  list-style-type: square;
  font-size: .8vw;
  line-height: 2;
}

/* 오른쪽 아래 나의 소개 박스 */

.strong {
  position: relative;
  margin: 2% 7% 0 7%;
  top: 0%;
  left: 0%;

  /* outline: 2px dotted red; */
}

.strong h2 {
  padding-left: 15px;
}

.strone {
  width: 85%;
  /* height: 50%; */
  top: 5px;
  left: 5px;

  display: flex;
  justify-content: space-between;
}

/* 원형박스 공통 */
.like {
  position: relative;
  width: 18%;
  margin: 3%;
  min-width: 50px;
  background-color: rgb(163, 108, 163);
  border-radius: 50%;
  float: none;
  flex-shrink: 0;
  text-align: center;

  /* outline: 2px dotted purple; */
}

/* like 박스 마우스오버시 */
.like:hover {
  transform: scale(1.1);
  border: 3px solid rebeccapurple;
  box-sizing: border-box;
}

.like::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.like img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.like h3 {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  text-align: center;
  font-size: 1vw;

}


.hobone {
  width: 85%;
  /* height: 50%; */
  top: 5px;
  left: 5px;

  display: flex;
  justify-content: space-evenly;
}

.hobby {
  position: relative;
  width: 18%;
  margin: 3%;
  min-width: 50px;
  background-color: rgb(163, 108, 163);
  border-radius: 50%;
  float: none;
  flex-shrink: 0;
  text-align: center;

  /* outline: 2px dotted purple; */
}

/* hobby에 마우스오버시 */
.hobby:hover {
  transform: scale(1.1);
  border: 3px solid rebeccapurple;
  box-sizing: border-box;
}

.hobby::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.hobby img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.hobby h3 {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  text-align: center;
  font-size: 1vw;
}





/* SEC 3.////////////////////////////////////////////// */


/* 스킬박스 배경 */
.sklbx {
  height: 100%;
}

.sklbx>ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* 파티션 li공통 */
.sklbx>ul>li {
  position: relative;
  /* 부모자격 */
  flex: 1;
  text-align: center;

}

/* on먹인거 */
.skill li.on img{
  display: none;
}
.skill li.on .pbox a{
  display: block;
}

.skill li.on .skill>.pbox,
.skill li.on span {
  display: block;
}

.skill li.on .pbx1 {
  /* 높이값-30%(바닥에서 올린값) */
  height: 60%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.skill li.on .pbx2 {
  height: 50%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.skill li.on .pbx3 {
  height: 55%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.skill li.on .pbx4 {
  height: 60%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.skill li.on .pbx5 {
  height: 35%;
  transition: 1.5s;
  border: 2px solid darkred;
}

.skill li.on .pbx6 {
  height: 45%;
  transition: 1.5s;
  border: 2px solid darkred;
}




/* 파티션 li에 반투명 검은색 커버 만들기 */
/* .sklbx>ul>li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
  transition: opacity .6s;
} */


/* 각파티션 박스 배경 */
.sklbx>ul>li:nth-child(1) {
  background-color: rgb(207, 109, 207);
}

.sklbx>ul>li:nth-child(2) {
  background-color: rgb(255, 182, 72);
}

.sklbx>ul>li:nth-child(3) {
  background-color: rgb(255, 255, 144);
}

.sklbx>ul>li:nth-child(4) {
  background-color: rgb(101, 101, 255);
}

.sklbx>ul>li:nth-child(5) {
  background-color: rgb(255, 196, 157);
}

.sklbx>ul>li:nth-child(6) {
  background-color: rgb(190, 255, 93);
}

/* 파티션 박스 안 이미지 위치크기조정 */
.sklbx>ul>li>img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 부모는? 싸고있는 li */
  transform: translate(-50%, -50%);
  /* 정중앙이동 */
  width: 50%;
  max-width: 250px;
  /* 최대크기지정 */
  cursor: pointer;
  /* 마우스 커서모양 */

  /* 트랜지션 */
  /* transition: .4s; */

}

/* 그래프 막대 숫자공통 */
.pbox a {
  font-size: 4vh;
  margin-left: 8%;
  font-family: 'Sunflower', sans-serif;
  text-shadow: 1px 2px #333;
  display: none;
}

.sklbx>ul>li>span {
  position: absolute;
  top: 77%;
  width: 82%;
  left: 10%;

  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  /* text-shadow: 1px 1px #333; */
  display: none;
}

/* 각 %값 그래프막대공통 */
.skill .pbox {
  position: absolute;
  bottom: 25%;
  left: 37%;
  width: 25%;
  height: 0;
  background-color: #ff4655;


}




/* SEC 4.////////////////////////////////////////////// */

/* 스와이퍼 슬라이드 */

html .swiper-container {
  width: 100%;
  top: 55%;
  padding-top: 50px;
  padding-bottom: 50px;
}

html .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

html .swiper-slide img {
  display: block;
  width: 100%;
}


/* 이미지 담는 박스 */
.btns {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  box-shadow: 12px 12px 18px rgb(0 0 0 / 9%);
}

/* 비율밀기 */
.btns::before {
  content: '';
  display: block;
  padding-top: 100%;
}

/* 링크바로가기 */
.btns a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  transition: .4s;
}

.btns:hover a {
  background-color: #000;
  opacity: 0.5;
}

/* 첫번째 박스 */
.btns1 {
  position: absolute;
  top: 60%;
  width: 75%;
  background: url(../images/SeoulLand_main.jpg) no-repeat top/cover;
  /* border: 1px solid #555; */
}


/* 두번째 박스 */
.btns2 {
  width: 75%;
  background-image: url(../images/voguemain.PNG);
  /* border: 1px solid #555; */
  top: 60%;
  position: absolute;
}

/* 세번째 박스 */
.btns3 {
  width: 75%;
  background-image: url(../images/discoverymain2.png);
  /* border: 1px solid #555; */
  top: 50%;
  position: absolute;
}

/* 네번째 박스 */
.btns4 {
  width: 75%;
  background-image: url(../images/myitemmain.PNG);
  /* border: 1px solid #555; */
  top: 50%;
  position: absolute;
  z-index: 99;
}

/* 팝업창 뒷배경 */
.popbg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
  z-index: 999;
}

/* 팝업창 */
.pop {
  position: absolute;
  background-color: rgb(255 255 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 60%;
  z-index: 9999;
  display: none;
}

.pop img {
  width: 40%;
  margin: 5%;
  border: 1px solid #ccc;
}

/* 웹사이트 바로가기 버튼 */
html .baro {
  position: absolute;
  bottom: 20%;
  width: 15vw;
  height: 40px;
  right: 20%;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1vw;
  font-family: 'Nanum Gothic Coding';
}

.baro>a {
  display: block;
  line-height: 30px;
  width: 100%;
  height: 30px;
  color: #333;
  transition: .4s;
}

.baro:hover {
  background-color: #333;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.baro:hover a {
  color: #fff;
}

.pop ul {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 45%;
}

.pop li {
  float: none;
  line-height: 3;
  font-size: 1vw;
  font-weight: bold;
}


.pop .clse {
  position: absolute;
  width: 7vw;
  height: 40px;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  font-family: 'Encode Sans SC';
  font-weight: bold;
  font-size: 1vw;
  border-radius: 10px;
  right: 5%;
  bottom: 20%;
  cursor: pointer;
  transition: all .4s;
}

.pop .clse:hover {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  cursor: pointer;
}





/* 타이핑 글자(MY portfolio) */
#typing {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 3vw;
  letter-spacing: 1vw;
  font-weight: bold;
  font-family: ub;
  white-space: nowrap;
}


/* 부가설명 타이핑 */
.type-wrap {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#typed {
  font-size: 2vw;
  font-weight: bold;
  font-family: ub;
  white-space: nowrap;
}






/* SEC 5.////////////////////////////////////////////// */

/* contact 전체박스 */
.contact {
  display: flex;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 82vw;
  height: 75vh;
  border: 2px solid #ddd;
  box-shadow: 2px 2px 2px #a5a5a5;

  /* outline: 2px dotted red; */
}

/* contact me 타이틀 */
.ctmtit {
  font-size: 2.5vw;
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 20px;
}


/* 폼메일박스 */
.contact_fm {
  flex: 1;
}

/* 폼메일박스 */
.msgbox {
  width: 100%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

/* send me a email 글자 */
.tit2 {
  font-size: 1.5vw;
  font-family: 'Roboto Mono', monospace;
}

/* 폼메일 텍스트 */
.msgbox label {
  color: #000;
  font-size: 1vw;
  font-family: 'Roboto Mono', monospace;
  line-height: 5vh;
}

/* 입력창 */
input {
  background-color: transparent;
  width: 400px;
  height: 30px;
  border: 1px solid #333;
}

/* 내용창 */
#msg {
  width: 400px;
  background-color: transparent;
  border: 1px solid #333;
}

/* 보내기 버튼 */
#btnsend {
  width: 120px;
  height: 50px;
  margin-top: 30px;
  border-radius: 5px;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
}

#btnsend:hover {
  border: 1px solid #333;
  color: #333;
  background-color: #fff;
}

/* 오른쪽박스 */

/* contact me 내용 */
.mysbx {
  font-size: 1vw;
  text-align: center;
  padding-left: 5%;
  padding-top: 5%;
  line-height: 3.5vh;
  font-family: 'Nanum Gothic Coding', monospace;
}

.rcont {
  width: auto;
  height: 100%;
  top: 0;
  right: 0;

  /* outline: 2px dotted blue; */
}

/* 오른쪽박스 내용 */
.imcont {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* 오른쪽박스 왼쪽 선 가상요소로 주기 */
.imcont::before {
  content: '';
  display: block;
  border-left: 2px solid #ccc;
}

/* 오른쪽박스 이미지 + 내용 */
.imcont li {
  float: none;
  flex: 1;
}

.imcont li a {
  color: #555;
  padding-left: 0px;
  font-size: 1.2vw;
  text-shadow: none;
}

.imcont li img {
  position: relative;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
}







/* 하단 공통 적용 */
/* 스크롤 박스 */
.scroll {
  position: fixed;
  width: 5%;
  top: 20%;
  left: 3%;
}

/* 스크롤 마우스 */
.scrollin {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 16px;
  height: 60px;
  border: 3px solid #f5f5f5;
  box-shadow: 1px 1px 2px rgb(51 51 51);
  border-radius: 7px;
}

.scrollin::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255 196 157);
  animation: k_scroll 1.2s linear alternate infinite;
}

@keyframes k_scroll {
  to {
    top: 70%;
    opacity: .5;
  }
}

.scroll span {
  position: absolute;
  top: 70px;
  left: 50%;
  color: #f5f5f5;
  font-family: 'Encode Sans SC';
  font-size: 1.1rem;
  transform: translateX(-50%);
  text-shadow: 1px 1px 2px rgb(51 51 51);
}






/***************************** 미디어쿼리 900px *******************************/
@media only screen and (max-width:900px) {

  /**************** sec1 ****************/


  /**************** sec2 ****************/

  /* 왼쪽박스 */
  /* MBTI 박스 */
  .mbti {
    height: 15%;
  }

  /* MBTI 메인 */
  .mbti>h1 {
    font-size: 1vw;
    padding-top: 5px;
  }

  /* MBTI 서브 */
  .mbti>h2 {
    font-size: 1.5vw;
    padding-left: 25px;
    padding-top: 5px;
    font-family: 'Encode Sans SC', sans-serif;
  }

  /* 포토박스 */
  .photo {
    height: 35%;
  }

  /* 내사진 */
  .photo img {
    width: 50%;
  }


  /* 내설명 */
  .phosbx li {
    line-height: 4vh;
  }

  .photoIn2 {
    margin: 0;
  }


  /* 그래프박스 */
  .pg2ski {
    height: 50%;
  }

  /* 그래프박스 메인텍스트 */
  .gp>span {
    padding-top: 0;
    font-size: 1vw;
  }

  /* 그래프 속박스 */
  .gpin {
    height: 3px;
  }

  /* 그래프 애니메이션 */
  .gpin1::before {
    height: 3PX;
  }

  .gpin2::before {
    height: 3PX;
  }

  .gpin3::before {
    height: 3PX;
  }

  .gpin4::before {
    height: 3PX;
  }

  .gpin5::before {
    height: 3PX;
  }

  /* 그래프 왼쪽 설명 */
  .gpin .pregp {
    font-size: 1vw;
    top: 50%;
    transform: translateY(-65%);
  }

  /* 그래프 오른쪽 설명 */
  .gpin .afgp {
    font-size: 1vw;
    top: 50%;
    transform: translateY(-65%);
  }

  /* 오른쪽박스 */
  .gif h2 {
    font-size: 1vw;
  }

  /* 오른쪽박스 각 설명 */
  /* iam 박스 */
  .iambx li {
    line-height: 4vh;
  }

  /* lic박스 */
  .licbx {
    margin-left: 5%;
  }

  .licbx li {
    line-height: 4vh;
  }

  /* workbx박스 */
  .workbx li {
    line-height: 4vh;
  }

  /* edubx박스 */
  .edubx {
    margin-left: 5%;
  }

  .edubx li {
    line-height: 4vh;
  }

  /* 캐릭터이미지 없애기 */
  #pg2>img {
    display: none;
  }

  /* like, hobby 없애기 */
  .strong {
    display: none;
  }

  /**************** sec3 ****************/

  /* 글씨 크기 줄이기 */
  .sklbx>ul>li>span {
    font-size: 1vw;
  }

  /**************** sec4 ****************/
  /* 포트폴리오 담는 박스 */
  html .swiper-slide {
    width: 100px;
    height: 100px;
  }

  html .swiper-container {
    padding-top: 0;
  }

  /* 팝업 */
  .pop ul {
    top: 20px;
  }

  .pop li {
    line-height: 5.5vh;
  }

  /* 팝업창 바로가기버튼 */
  html .baro {
    bottom: 8%;
    height: 20px;
    right: 25%;
    background: #333;
  }

  .baro>a {
    line-height: 17px;
    color: #fff;
    text-shadow: none;
  }

  /* 팝업창 닫기버튼 */
  .pop .clse {
    width: 10vw;
    height: 20px;
    bottom: 8%;
    /* border: 1px solid #333; */
    background: #333;
    color: #fff;
  }


  /**************** sec5 ****************/
  /* 폼메일 인풋 */
  /* 인풋 전체박스 */
  .msgbox {
    padding: 0;
    margin: 0;
  }

  /* 인풋 안에 박스 */
  input {
    width: 200px;
    height: 15px;
  }

  #msg {
    width: 200px;
    height: 40px;
  }

  /* 메일 보내기버튼 */
  #btnsend {
    width: 60px;
    height: 20px;
    margin-top: 5px;
  }

  /* 오른쪽박스 */
  .rcont {
    flex: 1;
    width: auto;
  }

  .imcont li img {
    width: 10%;
  }

  /**************** 공통 ****************/

  /* GNB메뉴 */
  .gnb {
    top: 0;
    width: 650px;
    height: 45px;
    line-height: 45px;
  }

  /* GNB 텍스트 */
  .gnb a {
    font-size: 2vw;
  }

  /* 메뉴인딕 */
  .indic {
    left: 4%;
    width: 12px;
  }



  /* 스크롤 */
  .scrollin {
    width: 10px;
    height: 20px;
  }

  .scroll span {
    top: 25px;
    font-size: 1vw;
  }

  /* 스크롤 휠 */
  .scrollin::before {
    height: 5px;
  }


}

/*  미디어쿼리 900px */


/***************************** 미디어쿼리 500px *******************************/
@media only screen and (max-width:500px) {

  /**************** sec1 ****************/

  /* 메인글씨 */
  #pg1>h1 {
    top: 31%;
    font-size: 6vw;
    left: 8%;
  }

  /* 서브글씨 */
  #pg1>p {
    top: 38%;
    right: 24%;
    font-size: 3vw;
  }

  /**************** sec2 ****************/

  /* 전체박스 */
  .probox {
    position: absolute;
    width: 90vw;
    height: 80vh;
    transform: none;
    top: 15%;
    left: 5%;
  }

  /* 왼쪽박스 */
  /* mbti */
  .mbti {
    height: 10%;
  }

  /* mbti 글씨 */
  .mbti>h1,
  .mbti>h2 {
    font-size: 4vw;
    padding-left: 25px;
    padding-top: 10px;
  }

  /* 증명사진 박스 */
  .photo {
    flex-direction: column;
    height: auto;
  }

  .photo img {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .photoIn1 {
    padding: 15%
  }

  .photoIn2 {
    display: none;
  }

  /* mbti 그래프 전체박스 */
  .pg2ski {
    border: none;
  }


  /* mbti 그래프 박스 */
  .gp {
    height: 20%;
    border: none;
  }

  .gp>span {
    padding-top: 15px;
  }

  /* 그래프 왼쪽 설명글 */
  .gpin .pregp {
    top: 2%;
    font-size: 2vw;
  }

  /* 그래프 오른쪽 설명글 */
  .gpin .afgp {
    top: 2%;
    font-size: 2vw;
  }


  /* 오른쪽박스 타이틀 */
  .gif h2 {
    font-size: 3.8vw;
  }

  /* 오른쪽박스(iam + license) */
  .iamlicbx {
    flex-direction: column;
    margin: 10px;
  }

  /* iam 박스 */
  .iambx {
    width: 100%;
  }

  .iambx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }

  /* 라이센스박스 */
  .licbx {
    width: 100%;
    margin-left: 3%;
  }

  .licbx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }

  /* 오른쪽박스(work + education) */
  .socialbx {
    flex-direction: column;
    margin: 10px;
  }

  /* 워크박스 */
  .workbx {
    width: 100%;
  }

  .workbx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }

  /* 에듀박스 */
  .edubx {
    width: 100%;
    margin-left: 3%;
  }

  .edubx li {
    line-height: 2.8vh;
    font-size: 2.8vw;
  }


  /* 캐릭터부분 */
  .strong {
    display: none;
  }

  #pg2>img {
    display: none;
  }

  /**************** sec3 ****************/


  .sklbx>ul>li>span {
    font-size: 2.7vw;
  }

  /* li에 배경색 없애기 */
  .sklbx>ul>li:nth-child(1) {
    background-color: transparent;
  }

  .sklbx>ul>li:nth-child(2) {
    background-color: transparent;
  }

  .sklbx>ul>li:nth-child(3) {
    background-color: transparent;
  }

  .sklbx>ul>li:nth-child(4) {
    background-color: transparent;
  }

  .sklbx>ul>li:nth-child(5) {
    background-color: transparent;
  }

  .sklbx>ul>li:nth-child(6) {
    background-color: transparent;
  }



  /* 겉에 투명도 빼기 */
  .sklbx>ul>li::before {
    background: transparent;
    opacity: 0;
  }

  /* 그래프퍼센트 숫자 */
  .pbox a {
    font-size: 5vw;
    margin: 0;
    line-height: 25px;
  }

  /* 스킬박스 겉박스 */
  .sklbx {
    height: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .sklbx>ul {
    display: flex;
    flex-direction: column;
  }

  /* 스킬박스 이미지 */
  .sklbx>ul>li>img {
    width: 8%;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translatey(-50%);
  }

  /* 스킬그래프 */
  .skill .pbox {
    height: 25px;
    width: 0;
    left: 30%;
  }

  /* 클릭시 img */
  .skill li.on img{
    display: block;
    left: 15%;
    top: 40%;
    transform: translatey(-50%);
  }

  /* 클릭시 스킬그래프 개별 */

  .skill li.on .pbx1 {
    width: 50%;
    height: 25px;
    border: 1px solid darkred;
  }
  .skill li.on .pbx2 {
    width: 40%;
    height: 25px;
    border: 1px solid darkred;
  }
  .skill li.on .pbx3 {
    width: 45%;
    height: 25px;
    border: 1px solid darkred;
  }
  .skill li.on .pbx4 {
    width: 50%;
    height: 25px;
    border: 1px solid darkred;
  }
  .skill li.on .pbx5 {
    width: 25%;
    height: 25px;
    border: 1px solid darkred;
  }
  .skill li.on .pbx6 {
    width: 30%;
    height: 25px;
    border: 1px solid darkred;
  }


  /**************** sec4 ****************/
  /* 배경 */
  #pg4 {
    background: url(../images/mpfbg.png) no-repeat top/cover;
  }

  /* typing */
  #typing {
    font-size: 6vw;
  }

  /* typing 부가설명 */
  .type-wrap {
    top: 35%;
  }

  #typed {
    font-size: 3.5vw;
  }

  /* 포폴박스 */
  html .swiper-container {
    top: 45%;
  }

  /* 팝업 */
  .pop {
    width: 80%;
  }

  /* 팝업 이미지 */
  .pop img {
    width: 50%;
    margin-left: 25%;
    border: 1px solid #333;
  }

  /* 팝업 설명 */
  .pop ul {
    width: 90%;
    top: 43%;
    left: 5%;
  }

  .pop li {
    line-height: 4.5vh;
  }


  /* 팝업 바로가기버튼 */
  html .baro {
    bottom: 7%;
    left: 10%;
    width: 40%;
    height: 7%;
    background: #333;
  }

  .baro>a {
    color: #fff;
    line-height: 30px;
  }

  /* 팝업 닫기버튼 */
  .pop .clse {
    bottom: 7%;
    left: 60%;
    width: 30%;
    height: 7%;
    background: #333;
    color: #fff;
  }




  /**************** sec5 ****************/
  /* contact me */
  .ctmtit {
    font-size: 5vw;
    /* margin: 15px 0; */
    display: block;
    height: auto;
  }


  /* 메일창 */
  .msgbox {
    margin: 0;
    padding: 10px;
  }

  /* 메일창 메인 */
  .tit2 {
    font-size: 3.5vw;
    font-weight: normal;
  }

  /* 입력창 */
  input {
    width: 90%;
    height: 25px;
    margin: 5px 0;
  }

  /* 내용입력창 */
  #msg {
    width: 90%;
    margin-top: 5px;
  }

  /* 각 창 설명텍스트 */
  .msgbox label {
    color: #000;
    font-size: 3.5vw;
    font-weight: normal;
  }

  html .mainp {
    margin-top: 10px;
    font-size: 3.5vw;
  }

  /* 보내기창 */
  #btnsend {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 3.5vw;
    font-weight: bold;
    height: 30px;
  }

  /* 오른쪽박스 */
  .imcont {
    text-align: unset;
  }

  /* 오른쪽 설명박스 */
  .mysbx {
    font-size: 1.5vw;
    text-align: justify;
    padding: 15px;
  }

  /* 오른쪽 박스 이미지 */
  .imcont li img {
    position: static;
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
  }

  /* 이미지 내용 */
  .imcont li span {
    text-align: center;
    display: block;
    margin-top: -20px;
  }

  .imcont li a {
    font-size: 4vw;
  }




  /**************** 공통 CSS (미디어쿼리)****************/

  /* gnb박스 */
  .top {
    height: 100%;
  }

  /* 로고위치 */
  #logo {
    width: 20%;
    margin: 0 auto;
    min-width: 100px;
    left: 35%;
  }


  /* 로고이미지 */
  #logo img {
    width: 100%;
  }

  /* 메뉴 재정비 */
  .gnb {
    position: relative;
    top: 65%;
    width: 100%;
    left: 0;
  }

  .gnb ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .gnb li {
    font-size: 3.3vw;
    margin: 0 10px;
  }

  .gnb a {
    font-size: 3vw;
  }


  /* 스크롤 */
  .scroll {
    top: 22%;
    left: 5%;
  }

  .scrollin {
    width: 10px;
    height: 30px;
  }

  /* 스크롤글씨 */
  .scroll span {
    top: 40px;
    font-size: 0.5rem;
  }


  /* 인디케이터 */
  .indic {
    width: 15px;
  }

}

/*  미디어쿼리 500px */